body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: #131415;
    padding: 5rem;
    color: #fff;
    text-align: center;
}

.grad-span {
    background-image: linear-gradient(
        135deg,
        rgb(203, 94, 238) 0%,
        rgb(75, 225, 236) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

h1 {
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -2.5px;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 small {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.grad-color {
    color: rgb(157, 142, 238);
}

h4 {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 3rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    background-color: #131415;
    padding: 2.5rem;
    color: #fff;
    text-align: center;
}
